.bg1 {
  background-image: url("http://s20.postimg.org/ibc2ef4p9/abc4eca5092e613ba25261f86cd532b5.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  /*   -webkit-filter: blur(5px);
  filter: blur(5px);
  */
  z-index: 1;
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-icon {
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  right: 10px;
  top: 10px;
  padding-left: 5px;
  padding-top: 0px;
}

.ion-person {
  color: black;
  position: relative;
}

h1 {
  margin-top: -6px;
  letter-spacing: 4px;
  color: #fff;
  font-size: 1.4em;
}

.explore h1 {
  color: black;
  letter-spacing: 8px;
}

.content {
  z-index: 9999;
}

h4 {
  font-size: 15px;
  margin-bottom: 0px;
  letter-spacing: 1.5px;
}

.button-large {
  height: 70px;
}

.red {
  margin-top: 35vh;
}

.top{
  
}
.bottom-footer-review{
top:80vh;
    height: 21vh;
    position:fixed;
  background-color: rgba(200, 200, 200, 0.4);


}
.footer-review{
  position:relative;
  height: 21vh;
  width: 100vh;
    margin: -6px -6px 0 -6px;

}


.one {
  height: 100%;
}

.two {
  height: 100%;
}

.three {
  height: 100%;
}



.item{
  height:100%;
      background-color: rgba(200, 200, 200, 0.4);

}

.one h5, .two h5, .three h5{
  position:fixed;
  left:18px;
  bottom:16px;
  font-size:12px;
}
.one h6, .two h6, .three h6{
  position:fixed;
  left:8px;
  bottom:6px;
  font-size:11px;
  text-align:center;
}

.round-avatar{
     
  border-radius:50%;
  height:65px;
  width:65px;
margin-top:-5px;

}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

  @-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.hidden{
  visibility:hidden;
}







