<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="css/ionic/ionic.min.css" rel="stylesheet">
    <script src="js/ionic.bundle.js"></script>
    <link href="css/ionic/ionicons.css" rel="stylesheet">
    <link href="css/custom/login.css" rel="stylesheet">
    <script src="js/app.js"></script>
</head>
<body ng-app="app">
<ion-pane>
    <div class="bar bar-header">
        <a href="#" onclick="signin()" class="button button-icon ion-android-arrow-back"></a>
        <div class="h1 title">Recover Password</div>
        <a href="" class="button button-icon icon ion-ios-close-outline"></a>
    </div>
    <ion-content class="auth-view padding" ng-controller="forgotCtrl">
        <div class="row form-heading">
            <div class="col">
                <h3 class="form-sub-title">Enter the email for your account</h3>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="recover_password_form">
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="email" placeholder="Email" ng-model="userdata.email">
                        </label>
                        <a href="#" ng-click="resetPassword(userdata)"> <button class="recover-password button button-block">
                            Recover
                        </button>
                            </a>

                    </div>
                </form>
            </div>
        </div>
    </ion-content>

</ion-pane>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script>
    var app = angular.module('app', ['ionic']);

    app.controller('forgotCtrl', function ($scope, $http) {

        $scope.credentials = {};

        $scope.resetPassword = function(userdata) {
            $scope.credentials = angular.copy(userdata);

            var credentials = $scope.credentials;
            $http.post('https://api.parse.com/1/functions/forgotPassword',{credentials},
                    {headers: {'Content-Type': 'application/json',
                        'X-Parse-Application-Id': 'WTMvlgpJ6T7Ywyn7r7uu3q0iQdRevELTWipdzUOP',
                        'X-Parse-REST-API-Key': 'N4uJJsOGJ9mLZEjJRALMLA0HOtfcYZRVzHg8GXxv'}})
                    .then(function (response) {
                        console.log(response.data.result);
//                    $scope.user = response.data.result;
                    });
        };
    });
</script>
</body>
</html>
